@model CompanySite.Models.Newpage
@using System.Data

@{
    ViewBag.Title = "ShowRegister";
}

<style>
    #tablu {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 100px ;
    }

        #tablutd, #tablu th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #tablu tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tablu tr:hover {
            background-color: #ddd;
        }

        #tablu th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #009AEE;
            color: white;
        }
        #tablu td{
            text-align:center;
        }
       

    .button {
        background-color: #2ad11a;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

    .button1 {
        background-color: #d11a2a;
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 16px;
    }

    .button:hover {
        background-color: #f1f1f1;
    }

    .button1:hover {
        background-color: #f1f1f1;
    }
</style>
<script>
    function dummy(id) {
        debugger
        location.href = "/newpage/DeleteRegister/" + id + "/";
    }
    function dummy1(id) {
        debugger
        location.href = "/newpage/EditRegister/" + id + "/";
    }
</script>


<table id="tablu" class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Address</th>
        <th>Date of birth</th>
        <th>Yourself</th>
        <th>Skills</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (DataRow iteam in Model.dataItem.Rows)
    {
        <tr>
            <td> @iteam["FULL_NAME"]</td>
            <td> @iteam["EMAIL"]</td>
            <td> @iteam["CONTACT_NUMBER"]</td>
            <td> @iteam["ADDRESS"]</td>
            <td> @iteam["DATE_OF_BIRTH"]</td>
            <td> @iteam["YOURSELF"]</td>
            <td>
                <ul>
                    
                    @foreach (DataRow item in Model.skillItem.Rows)
                    {
                        if (iteam["C_ID"].ToString() == item["C_ID"].ToString())
                        {
                            if (item["SKILLS"].ToString() == "1")
                            {
                                <li> Communication Skills </li>
                            }
                            else if (item["SKILLS"].ToString() == "2")
                            {
                                <li> TeamWork </li>
                            }
                            else if (item["SKILLS"].ToString() == "3")
                            {
                                <li>
                                    Ability to work under Pressure
                                </li>
                            }
                            else if (item["SKILLS"].ToString() == "4")
                            {
                                <li>
                                    Creativity
                                </li>


                            }
                        }
                    }
                </ul>
            </td>
            <td><button class="button" onclick="dummy1(@iteam["C_ID"])">Edit</button></td>
            <td><button class="button1" onclick="dummy(@iteam["C_ID"])">Delete</button></td>
        </tr>
    }
</table>







