@model CompanySite.Models.Newpage
@{
    ViewBag.Title = "Submitconfirm";
}
<section id="inquiry" style="margin-top:60px;">

    <div class="container">

        <div class="row gy-4">
            <form class="contact-form mail-form" role="form" action="/newpage/submitcomplete/" method="POST">
                <div class="note-info">※If you are satisfied with the following information, please click "Apply".</div>
                <div class="row" style="--bs-gutter-x: 0;">
                    <div class="table-row-contact" style="border-top: 1px solid #ccc;">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Full Name
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.FULL_NAME
                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Email
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.EMAIL
                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Contact Number
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.CONTACT_NUMBER
                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Address
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.ADDRESS
                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Date Of Birth
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.DATE_OF_BIRTH
                        </div>
                    </div>


                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Gender
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @if (Model.Register.GENDER == "1")
                            {


                                <p>Male</p>
                            }
                            else
                            {
                                <p>Female</p>
                            }

                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Yourself
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.YOURSELF
                        </div>
                    </div>

                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Upload Your Profile Picture
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.PICTURE<br />
                            <div>
                            @{

                        string abc = "/Files_Registered/Pic_Registered/" + @Model.Register.PICTURE;
                               }
                            <img src="@abc" />
                        </div>

                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Upload Resume
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @Model.Register.FILE
                        </div>
                    </div>
                    <div class="table-row-contact">
                        <div class="col-md-3 col-sm-12 table-header-contact">
                            Your Skill
                        </div>
                        <div class="col-md-9 col-sm-12 table-body-contact">
                            @foreach (var iteam in Model.Register.SKILL)
                            {
                                if (iteam == "1")
                                {
                                    <p>Communication Skills</p>
                                }
                                else if (iteam == "2")
                                {
                                    <p>Teamwork</p>
                                }
                                else if (iteam == "3")
                                {
                                    <p>Ability to work under Pressure</p>
                                }
                                else if (iteam == "4")
                                {
                                    <p>Creativity</p>
                                }
                            }
                        </div>
                    </div>
                <br />
                <div class="form-send">
                    <button type="button" class="btn btn-large btn-edit" onclick="location.href = '@(Model.Register.RedirectPage)'">Edit</button>
                    <button type="submit" class="btn btn-large btn-send">Apply</button>
                </div>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>

</section>