@model CompanySite.Models.Vacancy
@{
    ViewBag.Title = "Vacancy";
}

<style type="text/css">
    h2 {
        margin-top: 40px;
    }

    h1 {
        margin-top: 50px;
    }

    .formOwn {
        margin-bottom: 15px;
    }
</style>

<div class="container">
    <h1 class="ptb centered">Edit Vacancy</h1>
    <section id="inquiry" style="padding:0 0 60px 0;">

        <div class="container">

            <header class="section-header">
                <div>Please Edit your descriptions and click the "Apply" button.</div>
            </header>

            <div class="row gy-4">
                <form class="contact-form mail-form" role="form" action="/vacancy/UpdateVacancy/" method="POST" enctype="multipart/form-data">
                    <div class="row" style="--bs-gutter-x: 0;">
                        @if (Model.ErrorList.Count >= 1)
                        {
                            <div class="col-md-3 col-sm-12">
                            </div>
                            <div class="col-md-9 col-sm-12">
                                <div class="validate" style="font-size:x-large;font-weight:bold;">Please check the information you have entered.</div>
                            </div>
                        }
                        <div class="table-row-contact" style="border-top: 1px solid #ccc;">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Name
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtName") ? " validate-error" : "")">
                                <input type="text" name="name" placeholder="Name" class="form-control formOwn" maxlength="20" value="@Model.soleVacancy.Rows[0]["NAME"]">
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtName") ? Model.ErrorList["txtName"] : "")</div>
                            </div>
                        </div>
                        <div class="table-row-contact">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Email
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtEmail") ? " validate-error" : "")">
                                <input type="email" name="email" placeholder="Email" class="form-control formOwn" value="@Model.soleVacancy.Rows[0]["EMAIL"]">
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtEmail") ? Model.ErrorList["txtEmail"] : "")</div>
                            </div>
                        </div>
                        <div class="table-row-contact">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Mobile
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtMobile") ? " validate-error" : "")">
                                <input type="text" name="mobile" placeholder="Mobile number" class="form-control formOwn" value="@Model.soleVacancy.Rows[0]["MOBILE"]">
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtMobile") ? Model.ErrorList["txtMobile"] : "")</div>
                            </div>
                        </div>
                        <div class="table-row-contact">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Age
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtAge") ? " validate-error" : "")">
                                <input type="text" name="age" placeholder="Age" class="form-control formOwn" value="@Model.soleVacancy.Rows[0]["AGE"]">
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtAge") ? Model.ErrorList["txtAge"] : "")</div>
                            </div>
                        </div>
                        <div class="table-row-contact">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                About Yourself
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtAboutYourself") ? " validate-error" : "")">
                                <textarea name="aboutYourself" placeholder="About Yourself" rows="10" class="form-control formOwn">@Model.soleVacancy.Rows[0]["ABOUT_YOURSELF"]</textarea>
                                <div class="validate" style="">@(Model.ErrorList.ContainsKey("txtAboutYourself") ? Model.ErrorList["txtAboutYourself"] : "")</div>
                            </div>
                        </div>
                        @*<div class="table-row-contact" style="border-top: 1px solid #ccc;">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Photo:
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtPhoto") ? " validate-error" : "")">
                                <input type="file" name="image" accept=".jpg,.png|image/*">
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtPhoto") ? Model.ErrorList["txtPhoto"] : "")</div>
                            </div>
                        </div>
                        <div class="table-row-contact" style="border-top: 1px solid #ccc;">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Upload your CV:
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact  @(Model.ErrorList.ContainsKey("txtCV") ? " validate-error" : "")">
                                <input type="file" name="file">
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtCV") ? Model.ErrorList["txtCV"] : "")</div>
                            </div>
                        </div>*@
                        <div class="table-row-contact" style="border-top: 1px solid #ccc;">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Skills
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtSkills") ? " validate-error" : "")">
                                <input type="checkbox" id="form_skillJava" name="skill" value="1" @((@Model.soleSkills!= null && @Model.soleSkills.Contains("1")) ? " checked" : "")>
                                <label for="form_interestedYes"> Java </label><br>
                                <input type="checkbox" id="form_skillPython" name="skill" value="2" @((@Model.soleSkills!= null && @Model.soleSkills.Contains("2")) ? " checked" : "")>
                                <label for="form_interestedNo"> Python </label><br>
                                <input type="checkbox" id="form_skillDotNet" name="skill" value="3" @((@Model.soleSkills!= null && @Model.soleSkills.Contains("3")) ? " checked" : "")>
                                <label for="form_interestedDotNet"> Dot Net</label><br>
                                <input type="checkbox" id="form_skillBlockchain" name="skill" value="4" @((@Model.soleSkills!= null && @Model.soleSkills.Contains("4")) ? " checked" : "")>
                                <label for="form_interestedBlockchain"> Blockchain</label><br>
                                <input type="checkbox" id="form_skillReact" name="skill" value="5" @((@Model.soleSkills!= null && @Model.soleSkills.Contains("5")) ? " checked" : "")>
                                <label for="form_skillReact"> React</label><br>
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtSkills") ? Model.ErrorList["txtSkills"] : "")</div>
                            </div>

                        </div>
                        <div class="table-row-contact" style="border-top: 1px solid #ccc;">
                            <div class="col-md-3 col-sm-12 table-header-contact">
                                Gender
                            </div>
                            <div class="col-md-9 col-sm-12 input-contact @(Model.ErrorList.ContainsKey("txtGender") ? " validate-error" : "")">
                                <input type="radio" id="form_genderMale" name="gender" value="1" @(Model.soleVacancy.Rows[0]["GENDER"].ToString() == "1" ? "checked" : "")>
                                <label for="gender1">Male</label><br />
                                <input type="radio" id="form_genderFemale" name="gender" value="2" @(Model.soleVacancy.Rows[0]["GENDER"].ToString() == "2" ? "checked" : "")>
                                <label for="gender2">Female</label><br>
                                <div class="validate">@(Model.ErrorList.ContainsKey("txtGender") ? Model.ErrorList["txtGender"] : "")</div>
                            </div>
                        </div>
                    </div>
                        <input type="hidden" name="vacId" value="@Model.soleVacancy.Rows[0]["VACANCY_KEY_ID"]" >
                    <br />
                    <div class="form-send">
                        <button type="submit" class="btn btn-large">Apply</button>
                    </div>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>

    </section>
    <!-- ======= Edit vacancy Section ======= -->

</div>
