@{
    string domain = Request.Url.Scheme + "://" + Request.Url.Authority;
    var breadcrumbList = (Dictionary<string, string>)ViewBag.Breadcrumb;
    string companyName = "Jeewan I.T. Solutions Pvt.Ltd. (JITS)";
    string title = companyName;
    if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        title = title + " | " + ViewBag.Title;
    }

    string keywords = companyName;
    if (!string.IsNullOrEmpty(ViewBag.Keywords))
    {
        keywords = keywords + ", " + ViewBag.Keywords;
    }

    string description = companyName;
    if (!string.IsNullOrEmpty(ViewBag.Description))
    {
        description = description + "。" + ViewBag.Description;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title</title>
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@(domain + MvcApplication.GLOBAL_SYSTEM_SETTING["IMAGE_URL"])icon-og.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <!-- Favicons -->
    <link rel="icon" type="image" href="@(MvcApplication.GLOBAL_SYSTEM_SETTING["IMAGE_URL"])favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="@(MvcApplication.GLOBAL_SYSTEM_SETTING["IMAGE_URL"])icon-touch.png" />
   

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    @Styles.Render("~/Content/project_style")
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center" style="line-height: 30px !important;">
                <img src="~/Content/img/logo.png" alt="">
                <span>Jeewan I.T. Solutions Pvt.Ltd.</span>
            </a>

            @if (ViewBag.MenuHiddenFlg != "1")
            {
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="/#home">Home</a></li>
                        <li><a class="nav-link scrollto" href="/#about">About</a></li>
                        <li><a class="nav-link scrollto" href="/#services">Services</a></li>
                        <li><a class="nav-link scrollto" href="/#products">Our Products</a></li>
                        <li><a class="nav-link scrollto" href="/#outsourcing">Outsourcing</a></li>
                        <li><a class="nav-link scrollto" href="/#team">Our Team</a></li>
                        <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
                        <li><a class="nav-link scrollto" href="/#inquiry">Inquiry</a></li>
                        <li><a class="nav-link scrollto" href="/newpage/">New Page</a></li>
                        
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->
            }

        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer" style="background-color:#c3d7ff;">

        @if (ViewBag.MenuHiddenFlg != "1")
        {
            <div class="footer-top" style=" background-color:#f6f9ff!important;">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-5 col-md-12 footer-info">
                            <a href="/" class="logo d-flex align-items-center" style="line-height: 30px !important;">
                                <img src="~/Content/img/logo.png" alt="">
                                <span>Jeewan I.T. Solutions Pvt.Ltd.</span>
                            </a>
                            <p>
                                Grow your business collaborating with us. <br />
                                We are team of talented developers making mobile apps and robust websites.
                            </p>
                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <a href="/#home">Home</a></li>
                                <li><i class="bi bi-chevron-right"></i> <a href="/#about">About us</a></li>
                                <li><i class="bi bi-chevron-right"></i> <a href="/#services">Services</a></li>
                                <li><i class="bi bi-chevron-right"></i> <a href="/#outsourcing">Outsourcing</a></li>              
                            </ul>
                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Our Products</h4>
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <a href="/#products">Order Management System</a></li>
                                <li><i class="bi bi-chevron-right"></i> <a href="/#products">Point Of Sale(POS)</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                            <h4>Contact Us</h4>
                            <p>
                                Ward no.9, Dhalpa, <br>
                                Kritipur, Kathmandu, <br>
                                Nepal <br><br>
                                <strong>Phone:</strong><a href="tel:+9779851191025">+977 98511 91025</a><br>
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        }

    <div class="container">
        <div class="copyright">
            <div style="float:left;">&copy; Copyright <strong><span>@companyName</span></strong>. All Rights Reserved</div>
           <a href="/privacy/" style="text-align:right" >Privacy policy</a>
        </div>
        
        <div class="credits" style="clear:both;text-align:left;">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>
    <script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>
    @Scripts.Render("~/bundles/project_script")
    @RenderSection("scripts", required: false)

</body>

</html>